@model IEnumerable<DIPatternDemo.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Add New Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoryid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoryname)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Productid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoryid)
            </td>
            <td>
               <img src="@Url.Content(item.ImageUrl)" height="200" width="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoryname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Productid },new {@class="btn btn-primary"}) |
                    @Html.ActionLink("Details", "Details", new {  id=item.Productid }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Productid }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
